body{
    margin: 0;
    padding: 0;
    background-color: crimson;
}
header,footer{
    background-color: gold;
    width: 100%;
}
header{
    height: 5vh;
    
}
footer{
    height: 5vh;
}
.contprinc{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:5%;
}
